<!DOCTYPE html>
<html>
<head>
	<title>Artificial Intelligence</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>
<body>
	<div class="containerh">
		<div class="hi-2">Artificial Intelligence</div>
	</div>
		<div class="mid-page1">
			<a href="/hr"><input type="submit" name="submit" value="Hand Recognition" class="btn-4"></a>
			<a href="mlr"><input type="submit" name="submit" value="Face Recognition" class="btn-4"></a>
		</div>
</body>
</html>